.logo {
  border-radius: @border-radius-small;
  padding: 3px;
  color: #FFF;
  font-weight: bold;

  &:hover {
    color: #ffffff;
  }

  &.selogercom {
    background-color: #c5071b;
  }

  &.avendrealouerfr {
    background-color: #a41f72;
  }

  &.papfr {
    background-color: #2982c6;
  }

  &.explorimmocom {
    background-color: #990000;
  }

  &.logic-immocom {
    background-color: #008dcf;
  }
}