form.condensed-form.center-block.col-md-4
    h2.text-center Connectez-vous
    label.sr-only(for="email") Email
    input.form-control.input-lg#email(type="text" placeholder="Email" ng-model="user.email")

    label.sr-only(for="password") Mot de passe
    input.form-control.input-lg#password(type="password" placeholder="Mot de passe" ng-model="user.password")

    button.btn.btn-success.btn-lg(type="submit" ng-click="submit(user)") Connexion
    a.center-block.text-center(ui-sref="auth.signup") Créez un compte