doctype html
html(lang="fr", ng-app="%module%")
    head
        title Flat Tracker - Share appartment location ads
        meta(charset="utf-8")
        link(rel="icon", type="image/x-icon", href="/favicon.ico")
        link(rel="stylesheet", href="%styles%/vendor.css")
        link(rel="stylesheet", href="%styles%/%module%.css")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
    body(ng-class="{unauthenticated: !user}")
        include ./templates/header.jade

        div.container(ui-view)

        include ./templates/footer.jade

    script(src="%scripts%/vendor.js")
    script(src="%scripts%/%module%.js")
    script(src="%scripts%/templates.js")
    script(src="%scripts%/config.js")
