doctype html
html(lang="fr" ng-app="flatTracker")
    head
        title Flat Tracker - Share appartment location ads
        link(rel="stylesheet" href="css/flat-tracker.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    body
        nav.navbar.navbar-flat-tracker.navbar-flat-tracker-inverse
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#menu")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Flat Tracker

                div.collapse.navbar-collapse#menu
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#") <i class="icon-male-sign-alt icon-2x"></i>
                                p Mon Compte
        div.container
            ul.list-group
            - for (var x = 0; x < 3; x++)
                li.list-group-item
                    div.row
                        div.col-xs-12.col-sm-2
                            img(src="images/background.jpg" alt="appartment" width="100%")
                        div.col-xs-12.col-sm-10
                            h4.list-group-item-heading Location appartement 3 pièces Paris 9ème - appartement F3/T3/3 pièces 51,54m² 1480€/mois
                            p.text-muted.
                                ajouté par Benjamin il y a 15 jours depuis <span class="seloger">seloger.com</span>
                            ul.list-inline
                                li
                                    a.text-muted(href="http://www.seloger.com/annonces/locations/appartement/paris-9eme-75/trudaine-maubeuge/97564813.htm?ali=1&n=FdAYrVes90LiN78ngA&p=CBBPqSgIAALkd-Tw&cmp=ALSL-L&org=alertes_immo&utm_source=gmail.com&utm_medium=ali&utm_campaign=alertes_immo&idannali=97564813") voir sur le site
                                li
                                    a.text-muted(href="http://www.seloger.com/annonces/locations/appartement/paris-9eme-75/trudaine-maubeuge/97564813.htm?ali=1&n=FdAYrVes90LiN78ngA&p=CBBPqSgIAALkd-Tw&cmp=ALSL-L&org=alertes_immo&utm_source=gmail.com&utm_medium=ali&utm_campaign=alertes_immo&idannali=97564813") commentaires


        footer.clearfix
            div.container.text-center @copyright 2015 Flat Tracker

    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/bootstrap/dist/js/bootstrap.min.js")